/* ================================
   Estilos generales del cuerpo
================================== */
body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../imagenes/Menus.png);
    background-size: cover;
    background-position: center;
}

/* ================================
   Título principal (h1)
================================== */
h1 {
    color: #222;
    margin-bottom: 30px;
    font-size: 28px;
    text-align: center;
    background: rgba(255, 255, 255, 0.85);
    padding: 10px 20px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}


/* ================================
   Contenedor principal
================================== */
div {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}

/* ================================
   Etiquetas de formulario
================================== */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* ================================
   Campos de fecha y hora
================================== */
input[type="date"],
input[type="time"] {
    width: calc(100% - 12px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* ================================
   Botón de envío del formulario
================================== */
button[type="submit"] {
    background: rgba(113,206,239,1); /* Un color intermedio del gradiente */
    color: black;
    padding: 10px 30px;
    border: none;
    border-radius: 15px; /* Usando el mismo radio que los botones */
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

/* ================================
   Efecto hover del botón de envío
================================== */
button[type="submit"]:hover {
    background-color: #0056b3;
}

/* ================================
   Botón de regreso con imagen
================================== */
a {
    width: 80px;
    height: 80px;
    background-image: url('../imagenes/Atras.png');
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    border: 0px;
    cursor: pointer;
    transition: background 0.3s;
    position: absolute;
    left: 0%;
    top: 0%;
    margin: 5%;
    background-size: 80px 80px;
}

/* ================================
   Efecto hover del botón de regreso
================================== */
a:hover {
    background-image: url(../imagenes/Atras_hover.png);
}
